<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
       <rule name="AcmeChallenge" stopProcessing="true">
         <match url="\.well-known/acme-challenge/.*" />
         <action type="None" />
       </rule>
     <rules>
       <rule name="ComercialGP Reverse Proxy" stopProcessing="true">
         <match url="(.*)" />
         <action type="Rewrite" url="http://{HTTP_HOST}:3010/{R:0}" />
       </rule>
     </rules>
    </rewrite>
  </system.webServer>
</configuration>
